@import url('https://fonts.googleapis.com/css?family=Abel&display=swap');
html, body {
   font-family: 'Abel', sans-serif;
}
header {
   background-color: #143055;
   color: white;
   padding: 10px;
   border-radius: 5px;
}
body {
   padding: 0 5px;
}
.cases {
   background-color: #f5f5f5;
   padding: 20px;
   margin: 15px;
   border-radius: 4px;
}
.countryCases, .stateCases {
   margin: 0 0 2em 0;
   list-style-type: none;
   padding: 0;
}
.countryCases li, .stateCases li {
   position: relative;
   left: 0;
   background-color: #EEE;
   margin: .5em;
   padding: .3em .3em 0 0;
   border-radius: 4px;
   height: 1.9em;
}
.countryCases .badge, .stateCases .badge {
   display: inline-block;
   font-size: small;
   color: white;
   padding: 0.8em 0.7em 0 0.7em;
   background-color:#405061;
   line-height: 1em;
   position: relative;
   left: -1px;
   top: -4px;
   height: 1.9em;
   margin-right: .8em;
   border-radius: 4px 0 0 4px;
}
.stateCases .badge {
   background-color:#446140;
}