<header class="flex">
  <h1>{{ title }}</h1>
</header>
<body>
<h2>All Cases</h2>
<span class="cases"><b>{{cases.cases | number}}</b> cases</span><span class="cases"><b>{{cases.recovered | number}}</b> recovered</span>
<span class="cases"><b>{{cases.deaths | number}}</b> deaths</span>
<h2>Country Cases</h2>
<ul class="countryCases">
  <li *ngFor="let case of countryCases">
     <span class="badge">{{case.country}}</span> Cases: {{case.cases | number}} Today's Cases: {{case.todayCases | number}} Recovered: {{case.recovered | number}} Deaths: {{case.deaths | number}} Today's Deaths: {{case.todayDeaths | number}} Active: {{case.active | number}}
  </li>
</ul>
<h2>US State Cases</h2>
<ul class="stateCases">
<li *ngFor="let case of stateCases">
     <span class="badge">{{case.state}}</span> Cases: {{case.cases | number}} Today's Cases: {{case.todayCases | number}} Deaths: {{case.deaths | number}}  Today's Deaths: {{case.todayDeaths | number}} Active: {{case.active | number}}
  </li>
</ul>
</body>